h1{
    color: rgb(20, 99, 202);
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}
body{
    background-color: #659DBD;
}
.image{
    background-image: url(https://cdn.britannica.com/s:700x450/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg);
    height:100vh ;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border: 2px black;
    
}