<div class="container-fluid">
        <h2 class="text-center">Create a new Quote</h2>
        <hr>
        <form  (ngSubmit)='submitQuote()'>
            <div class="form-group">
      
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name" [(ngModel)]='name' name='name'  required>
                 
                 
      
            </div>
            <div class="form-group">
      
                    <label for="author">Author</label>
                    <input type="text" required class="form-control" id="author" [(ngModel)]='author' name='author' required>
                     
                     
          
                </div>
            <div class="form-group">
      
                <label for="quote">Quote</label>
                <textarea class="form-control" id="description"  rows="4"  [(ngModel)]="quote" name="quote" required></textarea>
                
      
            </div>
            <div class="form-group">
      
                    <label for="createdby">createdby</label>
                    <input type="text" required class="form-control" id="createdby" [(ngModel)]='createdby' name='createdby' required>
                     
                     
            </div>
            <div class="form-group">
                <label for="published">published by</label>
                <input type='date' id="published" [(ngModel)]="published" name="published" required>
          

            </div>
            
            <div>
                    <button type="submit" class="btn btn-success">Create  new Quote</button>
            </div>
            
        </form>
      </div>
